<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MAS_Typing.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <MAS_Typing.My.MySettings>
            <setting name="l1" serializeAs="String">
                <value />
            </setting>
            <setting name="l2" serializeAs="String">
                <value />
            </setting>
            <setting name="l3" serializeAs="String">
                <value />
            </setting>
            <setting name="l4" serializeAs="String">
                <value />
            </setting>
            <setting name="l5" serializeAs="String">
                <value />
            </setting>
            <setting name="l6" serializeAs="String">
                <value />
            </setting>
            <setting name="l7" serializeAs="String">
                <value />
            </setting>
            <setting name="l8" serializeAs="String">
                <value />
            </setting>
            <setting name="l9" serializeAs="String">
                <value />
            </setting>
            <setting name="l10" serializeAs="String">
                <value />
            </setting>
            <setting name="l11" serializeAs="String">
                <value />
            </setting>
            <setting name="l12" serializeAs="String">
                <value />
            </setting>
            <setting name="l13" serializeAs="String">
                <value />
            </setting>
            <setting name="l14" serializeAs="String">
                <value />
            </setting>
            <setting name="l15" serializeAs="String">
                <value />
            </setting>
            <setting name="l16" serializeAs="String">
                <value />
            </setting>
            <setting name="l17" serializeAs="String">
                <value />
            </setting>
            <setting name="l18" serializeAs="String">
                <value />
            </setting>
            <setting name="l19" serializeAs="String">
                <value />
            </setting>
            <setting name="l20" serializeAs="String">
                <value />
            </setting>
            <setting name="l21" serializeAs="String">
                <value />
            </setting>
            <setting name="l22" serializeAs="String">
                <value />
            </setting>
            <setting name="l23" serializeAs="String">
                <value />
            </setting>
            <setting name="l24" serializeAs="String">
                <value />
            </setting>
            <setting name="l25" serializeAs="String">
                <value />
            </setting>
            <setting name="l26" serializeAs="String">
                <value />
            </setting>
            <setting name="l27" serializeAs="String">
                <value />
            </setting>
            <setting name="l28" serializeAs="String">
                <value />
            </setting>
            <setting name="l29" serializeAs="String">
                <value />
            </setting>
            <setting name="l30" serializeAs="String">
                <value />
            </setting>
            <setting name="l31" serializeAs="String">
                <value />
            </setting>
            <setting name="l32" serializeAs="String">
                <value />
            </setting>
            <setting name="l33" serializeAs="String">
                <value />
            </setting>
            <setting name="l34" serializeAs="String">
                <value />
            </setting>
            <setting name="l35" serializeAs="String">
                <value />
            </setting>
            <setting name="l36" serializeAs="String">
                <value />
            </setting>
            <setting name="l37" serializeAs="String">
                <value />
            </setting>
            <setting name="l38" serializeAs="String">
                <value />
            </setting>
            <setting name="l39" serializeAs="String">
                <value />
            </setting>
            <setting name="l40" serializeAs="String">
                <value />
            </setting>
            <setting name="l41" serializeAs="String">
                <value />
            </setting>
            <setting name="l42" serializeAs="String">
                <value />
            </setting>
            <setting name="l43" serializeAs="String">
                <value />
            </setting>
            <setting name="l44" serializeAs="String">
                <value />
            </setting>
            <setting name="l45" serializeAs="String">
                <value />
            </setting>
            <setting name="l46" serializeAs="String">
                <value />
            </setting>
            <setting name="l47" serializeAs="String">
                <value />
            </setting>
            <setting name="l48" serializeAs="String">
                <value />
            </setting>
            <setting name="l49" serializeAs="String">
                <value />
            </setting>
            <setting name="l50" serializeAs="String">
                <value />
            </setting>
            <setting name="l51" serializeAs="String">
                <value />
            </setting>
            <setting name="l52" serializeAs="String">
                <value />
            </setting>
            <setting name="l53" serializeAs="String">
                <value />
            </setting>
            <setting name="l54" serializeAs="String">
                <value />
            </setting>
            <setting name="l55" serializeAs="String">
                <value />
            </setting>
            <setting name="l56" serializeAs="String">
                <value />
            </setting>
            <setting name="l57" serializeAs="String">
                <value />
            </setting>
            <setting name="l58" serializeAs="String">
                <value />
            </setting>
            <setting name="l59" serializeAs="String">
                <value />
            </setting>
            <setting name="l60" serializeAs="String">
                <value />
            </setting>
            <setting name="l61" serializeAs="String">
                <value />
            </setting>
            <setting name="l62" serializeAs="String">
                <value />
            </setting>
            <setting name="l63" serializeAs="String">
                <value />
            </setting>
            <setting name="l64" serializeAs="String">
                <value />
            </setting>
            <setting name="l65" serializeAs="String">
                <value />
            </setting>
            <setting name="l66" serializeAs="String">
                <value />
            </setting>
            <setting name="l67" serializeAs="String">
                <value />
            </setting>
            <setting name="l68" serializeAs="String">
                <value />
            </setting>
            <setting name="l69" serializeAs="String">
                <value />
            </setting>
            <setting name="l70" serializeAs="String">
                <value />
            </setting>
            <setting name="l71" serializeAs="String">
                <value />
            </setting>
            <setting name="l72" serializeAs="String">
                <value />
            </setting>
            <setting name="l73" serializeAs="String">
                <value />
            </setting>
            <setting name="l74" serializeAs="String">
                <value />
            </setting>
            <setting name="l75" serializeAs="String">
                <value />
            </setting>
            <setting name="l76" serializeAs="String">
                <value />
            </setting>
            <setting name="l77" serializeAs="String">
                <value />
            </setting>
            <setting name="l78" serializeAs="String">
                <value />
            </setting>
            <setting name="l79" serializeAs="String">
                <value />
            </setting>
            <setting name="l80" serializeAs="String">
                <value />
            </setting>
            <setting name="l81" serializeAs="String">
                <value />
            </setting>
            <setting name="l82" serializeAs="String">
                <value />
            </setting>
            <setting name="l83" serializeAs="String">
                <value />
            </setting>
            <setting name="l84" serializeAs="String">
                <value />
            </setting>
            <setting name="l85" serializeAs="String">
                <value />
            </setting>
            <setting name="l86" serializeAs="String">
                <value />
            </setting>
            <setting name="l87" serializeAs="String">
                <value />
            </setting>
            <setting name="l88" serializeAs="String">
                <value />
            </setting>
            <setting name="l89" serializeAs="String">
                <value />
            </setting>
            <setting name="l90" serializeAs="String">
                <value />
            </setting>
            <setting name="fontc" serializeAs="String">
                <value />
            </setting>
            <setting name="fonts" serializeAs="String">
                <value />
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
        </MAS_Typing.My.MySettings>
    </userSettings>
</configuration>