@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Glendon Stauffer<br />
    1031 Kutztown Rd<br />
    Myerstown, PA 16067<br />
    717.821.5700
</address>

<address>
    <strong>Marketing</strong> <a href="mailto:glendon@stauffertractor.com">glendon@stauffertractor.com</a>
</address>
