@page
@model StaufferRestoration.Website.Pages.ForSaleModel
@{
    ViewData["Title"] = "ForSale";
}

<h2>For Sale</h2>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/images//tesla.jpg" alt="">
            <div class="caption">
                <h3>Tesla Model X</h3>
                <p>$4800 Newly painted. New tires &amp; rims.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/images//tesla2.jpg" alt="">
            <div class="caption">
                <h3>Tesla Model S</h3>
                <p>$23,00 Brand-new lights and bumpers. New control modules.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/images//tesla3.jpg" alt="">
            <div class="caption">
                <h3>Tesla Model S</h3>
                <p>$42,800 New tires &amp; rims.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/images//tesla4.jpg" alt="">
            <div class="caption">
                <h3>Tesla Model S</h3>
                <p>$30,800 Newly painted. New sunroof; computer guided; fully automated driving.</p>
            </div>
        </div>
    </div>
</div>
