@page
@model StaufferRestoration.Website.Pages.SalesQuotesModel
@{
    ViewData["Title"] = "SalesQuotes";
}

<h2>Sales Quotes</h2>

<div class="panel panel-default">
    <div class="panel-heading">Estimated Costs</div>
    <div class="panel-body">
        <p>These costs are only approximate...</p>
    </div>

    <table class="table">
        <tr><td>Farmall B</td><td>$3,400</td><td>10hrs</td></tr>
    </table>
</div>

