@page
@model Pronect.Website.Pages.SoftwareModel
@{
    ViewData["Title"] = "Software";
}

<h2>Software</h2>

<div class="panel panel-default">
    <div class="panel-heading">Software Developement</div>
    <div class="panel-body">
        <a href="https://www.visualstudio.com/">Visual Studio IDE</a><br />
        <a href="https://code.visualstudio.com/docs?dv=win&wt.mc_id=DX_841432&sku=codewin">Visual Studio Code</a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Remote Desktop Software</div>
    <div class="panel-body">
        <a href="https://www.teamviewer.com">TeamViewer</a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Video Editing Software</div>
    <div class="panel-body">
        <a href="http://www.nchsoftware.com/videopad/index.html">VideoPad</a>
    </div>
</div>
