@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<style>
    italics {
        font-style: italic;
    }
</style>

<p>On Friday, January 19, I was really inspired after Neal Weaver had devotions at our school. He talked about Fibonacci and how God was so powerful to be able to think up such mathematics. When I got home, I threw together a small web app to generate Fibonaccic sequences. So, thank-you Neal Weaver!  - Micah Stauffer</p>

<hr />

<p>fibonacci,  \ ˌfē-bə-ˈnä-chē- , ˌfi-bə- \ - noun</p>
<p>
    An integer in the infinite sequence 1, 1, 2, 3, 5, 8, 13,  … of which the first two terms are 1 and 1 and each succeeding term is the sum of the two immediately preceding. &copy; 2017 by Merriam-Webster Dictionary Also, check out Wikipedia's thoughts on this 
</p>
