@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>I wrote this ASP.Net Core website as an advanced control for my RC Truck.</p>

<h4>Contact me</h4>

<address>
    Micah Stauffer<br />
    1031 Kutztown Rd<br />
    Myerstown, PA 17067<br />
    717.933.5489
</address>

<address>
    <strong>Support and Questions:</strong> <a href="mailto:micah@abcrun.com">micah@abcrun.com</a><br />
</address>
