@page
@model TruckEx.Pages.ConfigModel
@{
    ViewData["Title"] = "Config";
}

<h2>Internal Software Configuration<span style="padding:3px;"><span style="border-radius: 10px; padding:7px; background-color:red;">Danger</span></span></h2>
<p>
    Modifying settings in this section can have unexpected consequenses. Use extreme caution.
</p>

